<div class="container-fluid mt-4">
    <h2>Usuarios</h2>
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-success">
            <i class="fa-solid fa-plus">
                
            </i>Registro de usuario

        </button>
    </div>
    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr style="text-align: center;">
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
    <tr *ngFor="let usuario of usuarios; let i = index">
      <th scope="row">{{ i+1}}</th>
      <td>{{usuario.username}}</td>
      <td>{{usuario.roles}}</td>
      <td>
        <button class="btn btn-primary btn-sm me-1 ms-1">
            <i class="fa fa-edit"></i>Actulizar
        </button>
        <button class="btn btn-danger btn-sm me-1 ms-1" (click)="eliminarUsuario(usuario.username)">
            <i class="fa fa-trash"></i>eliminar
        </button>
      </td>
    </tr>
    
  </tbody>
    </table>
</div>